<div class="ui vertical stripe segment">
        <div class="ui grid">
    <div class="ui cards">
        {{#each article}}
    <div data-id={{_id}} class="card">
        <div class="content">
        <div class="header" data-mongo={{_id}}>
            <p>{{title}}</p>
        </div>
        <div class="description">
            {{summary}}
        </div>
        </div>
        <div class="extra content">
        <div class="ui two buttons">
            <div class="ui basic green button save btn-save-note" data-id={{_id}} >Save</div>
            <div class="ui basic red button delete btn-delete-note" data-id={{_id}} >Delete</div>
        </div>
        </div>
    </div>
        {{/each}}
    </div>
    </div>
</div>